<body>
	<h1>About Us</h1>
	<p>Have you ever thought, man, I wish there was a website dedicated to ridiculously photogenic cats?</p>
	<p>So have we. And that's why we made Fabcats.</p>
	<img src="http://i.imgur.com/QjLH94s.jpg">
	<p>Our mission is to make the world a better place by providing a forever home to millions of beautiful cats on the internet. We do this by letting anyone pin cat photos to our collection.</p>
	<h2>Our mission is to make the world a better place</h2>
	<p>So far, we have two cat photos. But ya know what they say, the journey to a thousand steps begins with two cat photos!</p>
</body>