<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to Austin Siamese Rescue</h1>
            <p>We're a non-profit organization committed to responsible rescue, rehabilitation and the re-homing of Siamese cats and their non-Siamese companions in the Central Texas area.</p>
            <%= link_to "Check Available Kittens »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Adopt</h2>
                <p>Interested adopters go through a careful screening process to include reference checks, telephone interviews, and where appropriate, home visits. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Foster</h2>
                <p>One of our biggest needs is a place to provide love and protection to cats and kittens until we can find them a forever home. If you have room for a cat or two, it's one of the greatest things you can do to volunteer! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Donate</h2>
                <p>If you would like to make a donation to Austin Siamese Rescue, Inc., rest assured that your donations will go directly to care of the cats. We are a 501(c)(3) organization, so all of your donations are tax-exempt. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>